@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  background-color: aliceblue;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.main-bg {
  background: url(https://images.unsplash.com/photo-1518638150340-f706e86654de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG1leGljb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60)
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.main-text {
  font-size: 3rem;
  color: #ff8d41;
}
